body {
	/*background: radial-gradient(#222 25%, #000 );*/
	background-size: cover;
}

.reveal {
	font-family: Arial;
}

section.light-theme p,
section.light-theme h1,
section.light-theme h2,
section.light-theme h3,
section.light-theme h4{
	color: #000;
}

.reveal .slides section {
	padding: 0 10%;
	box-sizing: border-box;
}

.slides .first-slide h1 {
	font-size: 3em;
	text-shadow: 10px 10px 2em black;
}



.reveal p {
	margin-bottom: 50px;
}

.reveal section img {
	background: none;
	box-shadow: none;
	border: none;
}

.reveal .flex-wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
}

div.video-slide:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	z-index: 1;
}

.video-slide.dark-video:before {
	background: rgba(0,0,0,0.8);
}
.video-slide.softdark-video:before {
	background: rgba(0,0,0,0.7);
}

.video-slide.light-video:before {
	background: rgba(255,255,255,0.6);
}



.history-second,
.inner-history {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrow {
	width: 40px;
	margin: 30px;
}

.reveal .history-first {
	padding-left: 20px;
}

.reveal .history-third {
	display: flex;
	justify-content: space-between;
}

.history-first img {
	width: 40%;
}

.history-second .desc{
	width: 30%;
}

.history-third .desc{
	height: 60%;
	width: 100%;
}

.inner-history {
	opacity: 0;
}

.history-third .inner-history:first-of-type .arrow{
	transform: rotate(45deg);
}

.history-third .inner-history:last-of-type .arrow{
	transform: rotate(-45deg);
}

.history-third.visible .inner-history:first-of-type {
	opacity: 1;
}

.history-third.visible .inner-history:nth-of-type(2) {
	transition: 1s opacity ease-out 0.3s;
	opacity: 1;
}

.history-third.visible .inner-history:last-of-type {
	transition: 1s opacity ease-out 0.6s;
	opacity: 1;	
}

.reveal .slides .es-wrapper {
	display: flex;
	justify-content: space-between;
}

.es-wrapper .inner-es {
	padding: 0 40px;
}

.visible-fragment {
	opacity: 1;
}

.es-wrapper .inner-logo {
	width: 80%;
	padding: 70px 0;
}

.es-wrapper .es-logo {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	margin: auto;
}

.es-wrapper .es-logo img {
	margin: 40px 0;
}

.reveal .slides section.support {
	padding: 0;
}

.reveal .support img:nth-of-type(2){
	position: absolute;
	top: 16.5%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.reveal .slides .usecases {
	padding-bottom: 100px;
}

.usecases h4 {
	margin-bottom: 50px; 
}

.usecases li {
	margin-bottom: 20px;
	font-size: 2.5rem;
}

.reveal .slides section.demo {
	padding: 0;
} 

.reveal .slides .demo,
.demo iframe {
	width: 100%;
	height: 95%;
}

.reveal .slides .demo a {
	position: relative;
}

.work-graph {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.work-graph img {
	width: 30%;
}

.work-graph p {
	font-weight: 700;
	font-size: 10rem;
}

.reveal .slides section.pipeline {
	padding: 0 5%;
}

.pipeline .inner-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pipeline .description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pipeline .top-wrapper {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

.pipeline .top-wrapper p {
	width: 100%;
	margin: 10px;
	text-align: left;
}

.pipeline .back-pipeline {
	width: 100%;
	height: 20rem;
	background: url("../assets/pipeline.jpg") 0 0 / 100% auto no-repeat;
}

.pipeline h3 {
	margin-bottom: 3rem;
}

.pipeline .description p{
	width: 9%;
	font-size: 1.5rem;
}

.pipeline .description p:last-of-type{
	width: 17%;
}	

.framework-logo {
	height: 20%;
}

.frameworks .inner-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-items: stretch;
}

.frameworks .inner-item {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.frameworks h3{
	margin-bottom: 70px;
}

.frameworks .inner-item .framework-logo{
	height: auto;
}

.frameworks .inner-item:first-of-type .framework-logo{
	margin-top: 60px;
	width: 100%;
}

.frameworks .inner-item:nth-of-type(2) .framework-logo{
	width: 60%;
}

.frameworks .inner-item:last-of-type .framework-logo{
	width: 50%;
}

.good-parts li{
	margin: 30px 0;
}

.reveal .dark-text {
	color: black;
}

.reveal .leap1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.reveal .leap1 {
	width: 35%;
	max-height: inherit;
}

.reveal .leap1.device {
	width: 100%;
}

.reveal .vr-problems li{
	margin: 20px 0;
	font-size: 2.6rem;
	font-weight:700;
	opacity:0;
	transition: all 1s ease-in-out;
}

.reveal section .reason {
	height: 42rem;
	margin: 0;
}

.reveal section.slow-js {
	padding-top: 13rem;
}

.reveal .slow-js h1{
	font-size: 6rem;
}

.video-slide.conclusion h3{
	margin-top: 30rem
}

.vr-problems .visible li {
	opacity: 1;
}

.vr-problems li:first-of-type{
	transition-delay: 0.5s;
}

.vr-problems li:nth-of-type(2){
	transition-delay: 1s;
}

.vr-problems li:nth-of-type(3){
	transition-delay: 1.5s;
}

.vr-problems li:nth-of-type(4){
	transition-delay: 2s;
}

.vr-problems li:nth-of-type(5){
	transition-delay: 2.5s;
}

.last-demo .inner-demo {
	/*text-align: left;*/
	margin-top: 20%;
}

* {
	text-shadow: none !important;
}

.highlight {
	color: #b00;
	font-weight: 700 !important;
}